body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("csscontentTV/FutureBackGround.png");
    background-size: cover;
    background-repeat: inherit;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: 5px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Website Icon */
.navbar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Centered Navigation Links */
.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Ensures links are centered */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(31, 31, 31, 0.8);
    border-radius: 15px;
    border-style: solid;
    border-color: #1f1f1f;
}

h1, h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #03b8ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
