body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url("csscontentTV/beesmasalt.png");
    background-size: contain;
    background-repeat: inherit;
    margin: 0;
    padding: 0;
}
.video-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.video-container iframe {
    width: 100%;
    height: 450px;
    border: none;
}
.devtext {
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}
.popup {
    display: none; /* Hidden by default */
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    justify-content: center; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    z-index: 1000;
    opacity: 0; /* Start with opacity 0 for fade-in effect */
    animation: fadeIn 1s forwards; /* Fade-in animation */
}

.popup-content {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    max-width: 500px;
    margin: auto;
    transform: scale(0); /* Start with scale 0 for pop-in effect */
    animation: popIn 0.5s forwards 0.5s; /* Pop-in animation with a delay */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Keyframes for pop-in animation */
@keyframes popIn {
    to {
        transform: scale(1);
    }
}
.h2ss {
    color: white;
    justify-content: center;
    text-align: center;
}

.share-container {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    max-width: 30%;
    background-color: #ffffff;
    transition: background-color 0.2s;
    margin-top: 50px;
    border-radius: 8px;
    color:#000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}
.share-container:hover {
    background-color: rgb(190, 190, 190);
}

.clear-button {
    display: block;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #f44336;
}

.clear-button:hover {
    background-color: #d32f2f;
}


.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(50, 131, 27, 0.1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.togglebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #3283FF;
    color: white;
    border: none;
    padding: 5px;
    width: 10%;
}

.togglebtn:hover {
    background-color: #1e509b;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(255, 213, 27, 0.1);
    border-radius: 8px;
    border-style: solid;
    border-color: #B5AB38;
}
.container .offering {
    margin: 8px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d94343;
    border-radius: 8px;
}
.container .receiving {
    margin: 8px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #8cd943;
    border-radius: 8px;
}
.container h1 {
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3283FF;
    border-radius: 8px;
    width: 40%;
    margin: auto;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.section {
    width: 48%;
}

.section h2 {
    text-align: center;
}
#looking-for-items {
    background-color: #D9CD43;
    padding: 5px;
    border-radius: 8px;
}
#to-offer-items {
    background-color: #D9CD43;
    padding: 5px;
    border-radius: 8px;
}
.count-number {
    color: #444016;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.items {
    display: flex;
    flex-wrap: wrap;
}

.items img {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #B5AB38;
    margin: 3px;
}

.items img:hover {
    transform: scale(1.1);
    opacity: .5;
    background-color: #b54738;
}

.trade-text-item {
    display: flex;
    max-width: 70px;
    max-width: 70px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.2s;
    margin: 3px;
    color: black;
}
.trade-text-item:hover {
    transform: scale(1.1);
    opacity: .5;
    color: #b54738;
}

button {
    display: block;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin: 10px;
    background-color: #4c74af;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #008cff;
}
.mediabutton-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.mediabutton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #555555;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.mediabutton:hover {
    background-color: #4569a0;
}
/* Modals */
/* Slot Modal styles */
#slots-container {
    background-color: #D9CD43;
    border-radius: 15px;
    padding: 5px;
    overflow: auto;
    max-height: 200px;
}
.slot-menu {
    margin-top: 10px;
    max-width: 40%;
    margin: auto;
}

.slot {
    display: flex;
    align-items: center;
    background-color: #B5AB38;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
}
.slot span {
    color: #444016;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.slot button {
    margin-left: 5px;
    max-width: 80px;
    background-color: #318500;
}
.slot button.save {
    margin-left: 5px;
    max-width: 80px;
    background-color: #3883b5;
}
.slot button.rename {
    margin-left: 5px;
    max-width: 80px;
    background-color: #3a3a3a;
}
.slot button.delete {
    margin-left: 5px;
    max-width: 80px;
    background-color: #a71313;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #FFF940;
    margin:5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    position: relative;
}
.modal-content h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #252525;
    font-weight: 800;
}
.close {
    color: #810E0E;
    background-color: #FC4B3C;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.modal-content2 {
    background-color: #3283FF;
    margin:5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    position: relative;
}
.modal-content2 h2, h3 {
    margin: 8px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.attach-texts {
    padding: 10px;
    background-color: #2257A8;
    border-radius: 8px;
}
.attached-preview img {
    background-color: #2257A8;
}
#greenText, #redText, #blackText, #yellowText {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 8px; 
}
.close:hover,
.close:focus {
    color: rgb(26, 26, 26);
    text-decoration: none;
    cursor: pointer;
}
#category4 {
    max-height: 300px; /* Set your desired max height */
    overflow-y: auto;  /* Enable vertical scrolling */
}

/* Optional: Customize the scrollbar appearance */
#category4::-webkit-scrollbar {
    width: 8px;
}

#category4::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}

#category4::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.category {
    margin-bottom: 20px;
    background-color: #D9CD43;
    
}

.category h3 {
    margin: 5px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.category input {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.category .images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 8px;
}

.category .images img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #B5AB38;
    margin-bottom: 3px;
}

.category .images img:hover {
    transform: scale(1.1);
    opacity: .5;
}

/* Attach Modal */
.attach-images, .attach-texts {
    margin-bottom: 20px;
}

.attach-images .images, .attached-preview, .attach-texts .attach-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.attach-images .images img, .attached-preview img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s;
}

.attach-images .images img:hover, .attached-preview img:hover {
    transform: scale(1.1);
}

.image-with-attachments {
    background-color: #D2E6F3;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
}
.image-with-attachments img {
    background-color: #7C8793;
    border-radius: 8px;
    width: 60px;
    height: 60px;
}
img.small-attached-image {
    width: 30px;
    height: 30px;
    float: left;
}
.image-with-attachments .abilityText {
    background-color: #96A5AD;
    padding: 5px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.2s;
}

.remove-btn:hover {
    background-color: darkred;
}

.count-badge {
    top: 0;
    right: 0;
    color: rgb(82, 103, 117);
    font-size: 15px;
    height: 10px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
