body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("csscontentFQ/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(50, 131, 27, 0.1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.togglebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #3283FF;
    color: white;
    border: none;
    padding: 5px;
    width: 10%;
}

.togglebtn:hover {
    background-color: #1e509b;
}

button {
    display: block;
    width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin: 10px;
    background-color: #4c74af;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #4569a0;
}
