body {
  background-image: url('donationpagecontent/background-image.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}
footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(circle, #a7a7a7a9, #00000094);
  padding: 5px 0; 
  text-align: center;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin: 0 10px; 
}

footer nav ul li a {
  color: #fff; 
  text-decoration: none;
  font-size: 18px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer nav ul li a:hover {
  text-decoration: underline; 
}
footer nav ul li a.current-page {
  color: #000000; 
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.logo-container {
  display: flex;
  position: center;
  width: 100%;
  margin-top: 40px;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.donation-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.donation-options a {
  margin: 10px;
  display: block;
  transition: transform 0.3s ease;
}

.donation-options a:hover {
  transform: scale(1.1);
}

.donation-options img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
